app-login {
    background-color: #0A0300;
}
ion-content {
    background-color: #0A0300;
}

ion-card {
    background-color: #0A0300;
}

ion-input {
    border-bottom: 2px solid #FF4D00;
    margin-top: .5em;
    font-family: 'Segoe UI';
    color: white;
}

h1 {
    color: white;
    font-family: 'Segoe UI';
}

img {
    text-align: center;
    padding: 0em;
    margin: 0em;
}

a {
    margin-top: 2em;
    color: #FF4D00;
    font-family: 'Segoe UI';
}

nav {
   border: 2px solid #FF4D00;
   margin: 2em;
   padding: 1.5em;
}

/** orangeFull **/

.btn-full {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'Segoe UI';
  margin-top: 2em;
  width: 70%;
}

/** orangeOutFull **/

.btn-outFull {
 //color: #FF4D00;
 //background-color: red;
 //border-radius: 50%;
  background-color: none; 
  background-color: #0A0300; /* orangeFull */
  border-radius: 25px;
  border: 2px solid #FF4D00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .60em;
  font-family: 'Segoe UI';
}

.titulo1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    font-size: 1em;
    align-items: center;
    
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


.right{
    display:block;
    float: right;
}

.fondoNegro {
    background-color: #0A0300;
}

.small {
    height: 40%;
    margin-left: 3px;

}

nav {
    background-color: #0A0300;
}

main{
    background-color: #0A0300;
}

