<ion-content class="fondoNegro">
  <nav>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-card-content>
              <ion-label class="titulo1 center">Favor de ingresar su correo para verificar su cuenta.</ion-label>
              <ion-input placeholder="Código"></ion-input>              
              <ion-button fill="clear" class="btn-full center" href="verificacion"><span>Verificar Cuenta</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
            </ion-card-content>
            <hr>
            <ion-card-content>
              <ion-label class="titulo1 center">Reenviar codigo de verificacion.</ion-label>
              <ion-input placeholder="Código"></ion-input>              
              <ion-button fill="clear" class="btn-full center" href="verificacion"><span>Verificar Cuenta</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
            </ion-card-content>
            <hr>
            <ion-card-content>
              <ion-label class="titulo1 center">Su cuenta ha sido verificada.</ion-label>              
              <ion-button fill="clear" class="btn-full center" href="tabs/tab1"><span>Continuar</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </nav>
</ion-content>
