<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Pagar Renta</h1>
  </ion-label>
</div>

<ion-content class="fondoNegro">
  <ion-card>
    <ion-grid class="nav2">
      <ion-row class="nav3">
        <ion-col size="6">
          <h2>Fecha</h2>
        </ion-col>
        <ion-col size="6">
          <h2>Pagar</h2>
        </ion-col>
      </ion-row>
      <ion-row class="nav3">
        <ion-col size="6">
          <h3>11/11/11</h3>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="btn-full1 center" href="/tabs/formulario-pagar-renta"><img class="small"
              src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="nav3">
        <ion-col size="6">
          <h3>11/11/11</h3>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="btn-full1 center" href="/tabs/formulario-pagar-renta"><img class="small"
              src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="nav3">
        <ion-col size="6">
          <h3>11/11/11</h3>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="btn-full1 center" href="/tabs/formulario-pagar-renta"><img class="small"
              src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="nav3">
        <ion-col size="6">
          <h3>11/11/11</h3>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="btn-full1 center" href="/tabs/formulario-pagar-renta"><img class="small"
              src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>