<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Dueño</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-card-content>
              <ion-label>
                <nav class="nav1">
                  <img *ngIf="!img" class="center" src="../../assets/svg/login-1.svg" alt="svg login">
                  <img *ngIf="img" class="center" src="{{img}}" alt="svg login">
                </nav>
              </ion-label>
            </ion-card-content>
          </ion-col>            
          <!-- <ion-col size=6>
            <ion-card-content>
              <ion-label>
               <h2>Dirección</h2>
               <br>
               <p>Lorem ipsum dolor sit
               </p>
              </ion-label>
            </ion-card-content>
          </ion-col>  -->
        </ion-row>
        <ion-row class="nav2">
          <ion-col size="12">
            <h2>Información del dueño</h2>
            <p>{{nombeCompleto}} </p>
          </ion-col>
          <ion-col size="12">
            <h2>Informacion de contacto:</h2>
            <div *ngFor="let t of leesse.Contacts">
              <p>{{t.Name +" : "+ t.Value}}</p>
            </div>
          </ion-col>
          <ion-col size="12">
            <h2>Direcciones</h2>
            <div *ngFor="let d of leesse.Accommodations">
              <p>{{d.City + " : " + d.Street}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
