<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Hospedaje</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col class="sinEspacio" size=6>
            <ion-card-content class="sinEspacio">
                <nav class="navFoto">
                  <img *ngIf="img" src="{{img.URL}}" alt="svg login">
                  <img *ngIf="!img" src="../../assets/img/tehuacan.png" alt="svg login">
                </nav>
            </ion-card-content>
          </ion-col>            
          <ion-col size=6>
            <ion-card-content>
              <ion-label>
               <h2>{{hospedajes.Street}}</h2>
               <br>
               <p>{{hospedajes.Name}}</p>
               <br>
               <p>{{hospedajes.City}}</p>
               <ion-button fill="clear" class="btn-full center" (click)="solicitud(hospedajes.ID)"><span>Enviar Solicitud</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
              </ion-label>
            </ion-card-content>
          </ion-col> 
        </ion-row>
        <ion-row class="nav2">
          <ion-col size="12">
            <h2>Información del hospedaje</h2>
            <br>
            <h3>Costo mensual</h3>
            <p>${{hospedajes.Price}}</p>
            <h3>Servicios que ofrece</h3>
            <ul>
              <li>Luz</li>
              <li>Agua</li>
              <li>Cable</li>
            </ul>
            <ion-button fill="clear" class="btn-outFull center"(click)="seleccionar(hospedajes.LesseeID)" >Contactar dueño</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
