<ion-content class="fondoNegro">
  <nav>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-card-content>
             <img class="center" src="../../assets/svg/login-1.svg" alt="svg login">
            </ion-card-content>
          </ion-col>            
          <ion-col size=12>
            <ion-card-content>
              <ion-input name="username" [(ngModel)]="postData.username" placeholder="username" type="text"></ion-input>
              <ion-input name="password" [(ngModel)]="postData.Password" placeholder="password" type="password"></ion-input>
              <ion-button (click)="login()" fill="clear" class="btn-full center" ><span>Iniciar Sesión</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
              <br>
              <a href="/recuperar-cuenta">Recuperar contraseña.</a>
              <br>
            </ion-card-content>
          </ion-col>
          <ion-col size="12">
            <ion-button  fill="clear" class="btn-outFull right" href="/registrar">Registrarse<img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg login"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </nav>
</ion-content>
