

ion-tabs {
    border-top: 2px solid #FF4D00;
    background-color: #FF4D00;
}

ion-label {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
}


.fondoNegro {
    background-color: #0A0300;
}

.bordeSuperiorNaranja {
    border-top: 2px solid #FF4D00;
}



  ion-tab-button{
    font-size: 10px;
    --background-focused: #FF4D00;
    --color-selected: #FF4D00;
  }