<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Mi Hospedaje</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size=12>
          <ion-card-content>
            <ion-label>
              <nav class="nav1">
                <img class="center" src="../../assets/svg/login-1.svg" alt="svg login">
              </nav>
            </ion-label>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row class="nav2">
        <ion-col size="8">
          <h2>Pagar renta</h2>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" class="btn-full1" href="/tabs/pagar-renta"><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
      <br>
      <ion-row class="nav2">
        <ion-col size="8">
          <h2>Ver Historial de pagos</h2>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" class="btn-full1" href="/tabs/historial-de-pagos"><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>