app-login {
    background-color: #0A0300;
}
ion-content {
    background-color: #0A0300;
}

ion-card {
    background-color: #0A0300;
}

ion-input {
    border-bottom: 2px solid #FF4D00;
    margin-top: .5em;
    font-family: 'Segoe UI';
}

h1 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 0em;
    margin: 0em;
}

img {
    text-align: center;
}

a {
    margin-top: 2em;
    color: #FF4D00;
    font-family: 'Segoe UI';
}

nav {
   border: 2px solid #FF4D00;
   margin: 2em;
}

.cabecera {
    background-color: #FF4D00;
    width: 100%;
    height: 4em;
}

.tittleHead {
    padding-top: .5em;
    font-weight: bold;
    font-size: 1.5em;
}


/** orangeFull **/

.btn-full {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Segoe UI';
  margin-top: 1em;

}

/** orangeOutFull **/

.btn-outFull {
 //color: #FF4D00;
 //background-color: red;
 //border-radius: 50%;
  background-color: none; 
  background-color: #0A0300; /* orangeFull */
  border-radius: 25px;
  border: 2px solid #FF4D00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Segoe UI';
  margin-top: 1em;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 60%;
}

.right{
    display:block;
    float: right;
    width: 40%;
}

.fondoNegro {
    background-color: #0A0300;
}

.small {
    height: 40%;
    margin-left: 3px;

}

nav {
    background-color: #0A0300;
}

main{
    background-color: #0A0300;
}

