<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Registrar</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
  <nav>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-card-header>
              <h1>Datos</h1>
            </ion-card-header>
          </ion-col>            
          <ion-col size=12>
            <form #form="ngForm" (ngSubmit)="crearCuenta(registrar)">
            <ion-card-content>
              <ion-input [(ngModel)]="registrar.name" name="name" type="text" placeholder="Nombre(s)"></ion-input>
              <ion-input [(ngModel)]="registrar.father_surname" name="father_surname" type="text" placeholder="Apellido Paterno"></ion-input>
              <ion-input [(ngModel)]="registrar.mother_surname" name="mother_surname" type="text" placeholder="Apellido Materno"></ion-input>
              <ion-input [(ngModel)]="registrar.username" name="username" type="text" placeholder="Correo"></ion-input>
              <ion-input [(ngModel)]="registrar.Password" name="Password" type="text" placeholder="Password"></ion-input>
              <ion-button type="submit"  fill="clear" class="btn-full center" >Registrar<img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg login"></ion-button>
            </ion-card-content>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </nav>
</ion-content>
