app-login {
    background-color: #0A0300;
}
ion-content {
    background-color: #0A0300;
}

ion-card {
    background-color: #0A0300;
}

ion-input {
    border-bottom: 2px solid #FF4D00;
    margin-top: .5em;
    font-family: 'Segoe UI';
    color: white;
}

.ion-icon {
    font-size: 2.25em;
    padding-top: .20em;
    margin-top: auto;
}

.tittleHead {
    padding-top: .5em;
    font-weight: bold;
    
}

h1 {
    color: white;
    font-family: 'Segoe UI';
}

img {
    text-align: center;
    padding: 0em;
    margin: 0em;
    height: 100%;
}
.imgDoc{
    text-align: center;
    height: 2%;
}
a {
    margin-top: 2em;
    color: #FF4D00;
    font-family: 'Segoe UI';
}

p {
    text-align: justify;
}

.nav1 {
   border: 2px solid #FF4D00;
   margin: 0em;
   padding: 0em;
   height: 11em;
}

.nav2 {
   border: 2px solid #FF4D00;
   margin: .90em;
   padding: 2.5em;
   height: 100%;
   width: 93%;
}

.cabecera {
    background-color: #FF4D00;
    width: 100%;
    height: 4em;
}

/** orangeFull **/

.btn-full {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'Segoe UI';
  margin-top: 2em;
  width: 100%;
}
.btn-full1 {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'Segoe UI';
  margin-top: 1em;
  width: 50%;
}

/** orangeOutFull **/

.btn-outFull {
 //color: #FF4D00;
 //background-color: red;
 //border-radius: 50%;
  background-color: none; 
  background-color: #0A0300; /* orangeFull */
  border-radius: 25px;
  border: 2px solid #FF4D00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .60em;
  font-family: 'Segoe UI';
}


.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


.right{
    display:block;
    float: right;
}

.fondoNegro {
    background-color: #0A0300;
}

.small {
    height: 40%;
    margin-left: 3px;

}

nav {
    background-color: #0A0300;
}

main{
    background-color: #0A0300;
}

h1 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 0em;
    margin: 0em;
}

h2 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 0em;
    margin: 0em;
    font-size: 1.25em;
}

h3 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding-top: .20em;
    margin: 0em;
    font-size: 1em;
}