<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Mi Perfil</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size=6>
            <ion-card-content>
              <ion-label>
                <nav class="nav1">
                  <img class="center" src="../../assets/svg/login-1.svg" alt="svg login">
                </nav>
              </ion-label>
            </ion-card-content>
          </ion-col>            
          <ion-col size=6>
            <ion-card-content>
              <ion-label>
               <h2>Datos</h2>
               <br>
               <p>Lorem ipsum dolor sit
               </p>
               <ion-button fill="clear" class="btn-full center" href="actualizar-perfil"><span>Actualizar Perfil</span><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>                
              </ion-label>
            </ion-card-content>
          </ion-col> 
        </ion-row>
        <ion-row class="nav2">
          <ion-col size="6">
            <h2>Docuentos</h2>
          </ion-col>
          <ion-col size="6">
            <h2>Subir</h2>
          </ion-col>
          <ion-col size="6">
            <ion-icon class="center ion-icon" name="document"></ion-icon>
            <h3>INE</h3>
          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" class="btn-full1 center" href=""><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-icon class="center ion-icon" name="document"></ion-icon>
            <h3>INE</h3>
          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" class="btn-full1 center" href=""><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-icon class="center ion-icon" name="document"></ion-icon>
            <h3>INE</h3>
          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" class="btn-full1 center" href=""><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-icon class="center ion-icon" name="document"></ion-icon>
            <h3>INE</h3>
          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" class="btn-full1 center" href=""><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
