<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Hospedajes</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
  <ion-grid class="espacioVertical">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="nav2" size="8">
            <ion-input name="busqueda" [(ngModel)]="busqueda" placeholder="Buscar por ciudad"></ion-input>
          </ion-col>
          <ion-col class="nav2" size="2">
            <ion-icon name="search-outline" (click)="search()"></ion-icon>
          </ion-col>
        </ion-row>
        <div *ngIf="hospedajes.length === 0">
          <p>no se encotro resultados</p>
        </div>

        <div *ngIf="hospedajes">
          <ion-row class="espacioVertical" *ngFor="let d of hospedajes">
            <ion-col class="nav3" size="11" (click)="seleccionarHospedaje(d.ID)">
              <a class="tarjeta">
                <ion-row>
                  <ion-col size="6">
                    <img *ngIf="!d.Images[0]" src="../../assets/img/house.png" alt="">
                    <img *ngIf="d.Images[0]" class="fotoHospedaje" src="{{d.Images[0].URL}}">
                    <p></p>
                  </ion-col>
                  <ion-col size="6">
                    <h1 class="tittleCard">{{d.Name}}</h1>
                    <p class="parrafo">
                      {{d.Street}}
                    </p>
                    <p class="parrafo"> {{d.City}}</p>
                  </ion-col>
                </ion-row>
              </a>
            </ion-col>
          </ion-row>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>