app-login {
    background-color: #0A0300;
}
ion-content {
    background-color: #0A0300;
}

ion-card {
    background-color: #0A0300;
}

ion-input {
    font-family: 'Segoe UI';
    color: white;
}

ion-icon {
    font-size: 2em;
    padding-top: .2em;
    padding-left: .2em;
    
}

h1 {
    color: white;
    font-family: 'Segoe UI';
}

img {
    text-align: center;
    padding: 0em;
    margin: 0em;
    width: 100%;
    height: 100%;
    margin: 0em;
}

a {
    margin-top: 2em;
    color: #FF4D00;
    font-family: 'Segoe UI';
}

p {
    text-align: justify;
}

.sinEspacio {
    padding: 0em;
}


.nav1 {
   border: 2px solid #FF4D00;
   margin: 0em;
   padding: 2.5em;
   height: 100%em;
}

.nav2 {
   border: 2px solid #FF4D00;
   margin-left: 1.25em;
   padding: .5em;
   height: 100%;
   width: 90%;
}

.nav3 {
   border: 2px solid #FF4D00;
   margin-left: 1em;
   height: 100%;
   width: 100%;
   padding: 0em;
}

.cabecera {
    background-color: #FF4D00;
    width: 100%;
    height: 4em;
}

/** orangeFull **/

.btn-full {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'Segoe UI';
  margin-top: 2em;
  width: 100%;
}
.btn-full1 {
  background-color: none; 
  background-color: #FF4D00; 
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'Segoe UI';
  margin-top: 2em;
  width: 25%;
}

.tittleHead {
    padding-top: .5em;
    font-weight: bold;
    font-size: 1.5em;
}

.tittleCard {
    padding-top: .5em;
}

.parrafo {
    font-size: 1em;
    padding-left: .5em;
}



/** orangeOutFull **/

.btn-outFull {
 //color: #FF4D00;
 //background-color: red;
 //border-radius: 50%;
  background-color: none; 
  background-color: #0A0300; /* orangeFull */
  border-radius: 25px;
  border: 2px solid #FF4D00;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .60em;
  font-family: 'Segoe UI';
}

.tarjeta {
    text-decoration: none;
    color: white;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    float: none;
} 

.espacioVertical {
    padding-top: 2em;
}

.right{
    display:block;
    float: right;
}

.fondoNegro {
    background-color: #0A0300;
}

.small {
    height: 40%;
    margin-left: 3px;

}

nav {
    background-color: #0A0300;
}

main{
    background-color: #0A0300;
}

h1 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 0em;
    margin: 0em;
}

h2 {
    color: white;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 0em;
    margin: 0em;
    font-size: 1.25em;
}