<div class="cabecera">
  <h1 class="tittleHead">Hospedajes</h1>
</div>
<ion-content class="fondoNegro">
      <ion-grid class="espacioVertical">
        <ion-row>
          <ion-col>
            <ion-row >
              <ion-col class="nav2" size="8">
                <ion-input placeholder="Buscar por ciudad"></ion-input>
              </ion-col>
              <ion-col class="nav2" size="2">
                <ion-icon name="search-outline"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row class="espacioVertical">
              <ion-col class="nav3" size="11">
                <a class="tarjeta" href="tabs/seleccionar-hospedaje">
                <ion-row>
                  <ion-col size="6">
                    <img class="fotoHospedaje" src="../../assets/img/tehuacan.png">
                  </ion-col>
                  <ion-col size="6">
                    <h1 class="tittleCard">Tehuacán</h1>
                    <p class="parrafo">
                      Royal Place Hotel Boutique Tehuaca Royal Place Hotel Boutique Tehuaca
                    </p>
                  </ion-col>
                </ion-row>
              </a>
              </ion-col>
            </ion-row>
            <ion-row class="espacioVertical">
              <ion-col class="nav3" size="11">
                <ion-row>
                  <ion-col size="6">
                    <img class="fotoHospedaje" src="../../assets/img/tehuacan.png">
                  </ion-col>
                  <ion-col size="6">
                    <h1 class="tittleCard">Tehuacán</h1>
                    <p class="parrafo">
                      Royal Place Hotel Boutique Tehuaca Royal Place Hotel Boutique Tehuaca
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="espacioVertical">
              <ion-col class="nav3" size="11">
                <ion-row>
                  <ion-col size="6">
                    <img class="fotoHospedaje" src="../../assets/img/tehuacan.png">
                  </ion-col>
                  <ion-col size="6">
                    <h1 class="tittleCard">Tehuacán</h1>
                    <p class="parrafo">
                      Royal Place Hotel Boutique Tehuaca Royal Place Hotel Boutique Tehuaca
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>