<div class="cabecera">
  <ion-button class="btn-back absolute" fill="clear" type="button" onclick="history.back()">
    <img class="reverse" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth">
  </ion-button>
  <ion-label>
    <h1 class="tittleHead center">Historial De Pagos</h1>
  </ion-label>
</div>
<ion-content class="fondoNegro">
  <ion-card>
    <ion-grid *ngIf="data.length === 0 ">
      <p>no existe historial de pago existentes</p>
    </ion-grid>
    <ion-grid *ngIf="data.length != 0" class="nav2">
      <ion-row class="nav3">
        <ion-col size="6">
          <h2>Fecha</h2>
        </ion-col>
        <ion-col size="6">
          <h2>Ver</h2>
        </ion-col>
      </ion-row>
      <ion-row class="nav3" *ngFor="let d of data">
        <ion-col size="6">
          <h3>{{d.CreatedAt | date:"dd MMMM yyyy"}}</h3>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="btn-full1 center"><img class="small" src="../../assets/svg/arrow-rigth.svg" alt="svg arrow-rigth"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>